body {
    font-family: sans-serif;
    /*background-image: url("images/Background-Tulips.png");*/
    background-color: ghostwhite;
}

main {
    max-width:600px;
    margin: 0 auto 0 auto;
    padding: 25px;
    padding-top: 50px;
    margin-top: 75px;
    background:#FFF;
}

header img {
    width:250px;
    margin-bottom: 35px;
}

