body {
    font-family: sans-serif;
    font-size: 1em;
    /*background-image: url("images/Background-Tulips.png");*/
    background-color: ghostwhite;
}

main {
    max-width:550px;
    margin: 0 auto 0 auto;
    padding: 50px;
    padding-top: 50px;
    margin-top: 75px;
    background:#FFF;
}

header img {
    width:50%;
    margin-left:25%;
    margin-right: 25%;
    margin-bottom: 35px;
}

p {
    font-size: 0.9em;
    text-align: center;
    line-height: 1.35em;
}

#nameLabel, #linkLabel {
    display:block;
    font-size: 1em;
    width:100%;
    text-align: center;
    margin-top: 40px;
    color:forestgreen;
}

#nameInput, #linkInput {
    width:70%;
    height:35px;
    display:block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    border:solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: yellowgreen;
    color:yellowgreen;
    font-size: 1.3em;
    text-align: center;
}

#registerButton, #addLinkButton {
    height:40px;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    color:forestgreen;
    font-size: 1em;
    background-color: #FFF;
    border:solid;
    border-radius: 15px;
    border-width: 1px;

}

#registerButton:hover, #registerButton:focus, #addLinkButton:hover, #addLinkButton:focus {
    background-color: yellowgreen;
    border:none;
    color:#FFF;
    cursor:pointer;
}

#linkList {
    list-style: none;
    width:100%;
    text-align: center;
    padding-left: 0px;
}

#linkList li {
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

#linkList li a {
    padding:10px;
    display:block;
    background-color: yellowgreen;
    color: #FFF;
    text-decoration: none;
    border:none;
    border-radius: 10px;

}

#linkList li a:hover {
    background-color: forestgreen;
}

